*{
    box-sizing: border-box;
}

html {
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}